* {
    font-family:arial;
    color:#464646
  }
  
  li {
    display:inline-block;
    float: right;
    padding: 0em .5em 0em .5em;
  }
  
  img {
     display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12em; 
  }
  
  form {
    padding: .5em 10em 0em 2em;
    text-align:center;
  }
  
  .related-searches {
    text-align:center;
    padding: .75em 10em 0em 2em;
  }
  
  footer{
    
  }
  